*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: gilory;
}

html,body{
    width: 100%;
    height: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;    
    align-items: center;
}

.frame span{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vw;
    
    text-align: center;
    padding: 0 5vw;
    font-size: 3vw;
    font-weight: 700;
    /* transform: translateY(-5vw); */
}

.frame{
    cursor: pointer;
    position: relative;
    z-index: 2;
    overflow: hidden;
    height: 5vw;
    /* background-color: rgb(255, 153, 0); */
}

#circle{
    pointer-events: none;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    width: 2.2rem;
    height: 2.1rem;
    background-color: rgb(9, 0, 111);
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
    
}